*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;

    // Responsive fontSizes 
    // Screen sizes of 1440px width and above
    @include breakpoint(extra-large-desktop-min){
        font-size: 62.5%;
    }

    // Screen sizes upto 1439px width
    @include breakpoint(medium-large-desktop-max){
        font-size: 58%;
    }
}

body {
    box-sizing: border-box;
}

/* Scroll-bar-start */
/* width */
::-webkit-scrollbar {
    width: 0rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scroll-bar-end */