// dm_sans
@font-face {
    font-family: 'DM Sans 9pt';
    src: url('../assets/fonts/dm_sans/DMSans-9ptRegular.eot');
    src: url('../assets/fonts/dm_sans/DMSans-9ptRegular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dm_sans/DMSans-9ptRegular.woff2') format('woff2'),
        url('../assets/fonts/dm_sans/DMSans-9ptRegular.woff') format('woff'),
        url('../assets/fonts/dm_sans/DMSans-9ptRegular.ttf') format('truetype'),
        url('../assets/fonts/dm_sans/DMSans-9ptRegular.svg#DMSans-9ptRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/dm_sans/DMSans-Italic.eot');
    src: url('../assets/fonts/dm_sans/DMSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dm_sans/DMSans-Italic.woff2') format('woff2'),
        url('../assets/fonts/dm_sans/DMSans-Italic.woff') format('woff'),
        url('../assets/fonts/dm_sans/DMSans-Italic.ttf') format('truetype'),
        url('../assets/fonts/dm_sans/DMSans-Italic.svg#DMSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans Bold';
    src: url('../assets/fonts/dm_sans/DMSans-Bold.eot');
    src: url('../assets/fonts/dm_sans/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dm_sans/DMSans-Bold.woff2') format('woff2'),
        url('../assets/fonts/dm_sans/DMSans-Bold.woff') format('woff'),
        url('../assets/fonts/dm_sans/DMSans-Bold.ttf') format('truetype'),
        url('../assets/fonts/dm_sans/DMSans-Bold.svg#DMSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/dm_sans/DMSans-BoldItalic.eot');
    src: url('../assets/fonts/dm_sans/DMSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dm_sans/DMSans-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/dm_sans/DMSans-BoldItalic.woff') format('woff'),
        url('../assets/fonts/dm_sans/DMSans-BoldItalic.ttf') format('truetype'),
        url('../assets/fonts/dm_sans/DMSans-BoldItalic.svg#DMSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 9pt';
    src: url('../assets/fonts/dm_sans/DMSans-9ptItalic.eot');
    src: url('../assets/fonts/dm_sans/DMSans-9ptItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dm_sans/DMSans-9ptItalic.woff2') format('woff2'),
        url('../assets/fonts/dm_sans/DMSans-9ptItalic.woff') format('woff'),
        url('../assets/fonts/dm_sans/DMSans-9ptItalic.ttf') format('truetype'),
        url('../assets/fonts/dm_sans/DMSans-9ptItalic.svg#DMSans-9ptItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/dm_sans/DMSans-Regular.eot');
    src: url('../assets/fonts/dm_sans/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dm_sans/DMSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/dm_sans/DMSans-Regular.woff') format('woff'),
        url('../assets/fonts/dm_sans/DMSans-Regular.ttf') format('truetype'),
        url('../assets/fonts/dm_sans/DMSans-Regular.svg#DMSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans Medium';
    src: url('../assets/fonts/dm_sans/DMSans-Medium.eot');
    src: url('../assets/fonts/dm_sans/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dm_sans/DMSans-Medium.woff2') format('woff2'),
        url('../assets/fonts/dm_sans/DMSans-Medium.woff') format('woff'),
        url('../assets/fonts/dm_sans/DMSans-Medium.ttf') format('truetype'),
        url('../assets/fonts/dm_sans/DMSans-Medium.svg#DMSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../assets/fonts/dm_sans/DMSans-MediumItalic.eot');
    src: url('../assets/fonts/dm_sans/DMSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/dm_sans/DMSans-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/dm_sans/DMSans-MediumItalic.woff') format('woff'),
        url('../assets/fonts/dm_sans/DMSans-MediumItalic.ttf') format('truetype'),
        url('../assets/fonts/dm_sans/DMSans-MediumItalic.svg#DMSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

// product_sans
@font-face {
    font-family: 'ProductSans-Bold';
    src: url("../assets/fonts/product_sans/ProductSans-Bold.eot");
    src: url('../assets/fonts/product_sans/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/product_sans/ProductSans-Bold.woff2') format('woff2'),
        url('../assets/fonts/product_sans/ProductSans-Bold.woff') format('woff'),
        url('../assets/fonts/product_sans/ProductSans-Bold.ttf') format('truetype'),
        url("../assets/fonts/product_sans/ProductSans-Bold.svg") format('svg');
    font-weight: 600;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'ProductSans-BoldItalic';
    src: url("../assets/fonts/product_sans/ProductSans-BoldItalic.eot");
    src: url('../assets/fonts/product_sans/ProductSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/product_sans/ProductSans-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/product_sans/ProductSans-BoldItalic.woff') format('woff'),
        url('../assets/fonts/product_sans/ProductSans-BoldItalic.ttf') format('truetype'),
        url("../assets/fonts/product_sans/ProductSans-BoldItalic.svg") format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProductSans-Italic';
    src: url("../assets/fonts/product_sans/ProductSans-Italic.eot");
    src: url('../assets/fonts/product_sans/ProductSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/product_sans/ProductSans-Italic.woff2') format('woff2'),
        url('../assets/fonts/product_sans/ProductSans-Italic.woff') format('woff'),
        url('../assets/fonts/product_sans/ProductSans-Italic.ttf') format('truetype'),
        url("../assets/fonts/product_sans/ProductSans-Italic.svg") format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProductSans-Italic';
    src: url("../assets/fonts/product_sans/ProductSans-Regular.eot");
    src: url('../assets/fonts/product_sans/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/product_sans/ProductSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/product_sans/ProductSans-Regular.woff') format('woff'),
        url('../assets/fonts/product_sans/ProductSans-Regular.ttf') format('truetype'),
        url("../assets/fonts/product_sans/ProductSans-Regular.svg") format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
