// Font-Family
// ProductSans
$secondary-font-bold: "ProductSans-Bold";

// DMSans
$primary-font-regular: "DM Sans Regular";
$primary-font-medium: "DM Sans Medium";
$primary-font-bold: "DM Sans Bold";

// Font-Colors
$color-white: #fff;
$color-black: #000;
$color-primary: #0057FF;
$color-primary-2: #3756F3;

$color-dark: #10172A;
$color-gray: #334253;  
$color-gray-300 : #95A4B7;
$color-gray-500 : #F5F7FB;


