// Font-Family
// ProductSans
$secondary-font-bold: "ProductSans-Bold";



// DMSans
$primary-font-bold: "DM Sans Bold";
$primary-font-medium: "DM Sans Medium";

// Font-Colors
$color-white: #fff;
$color-primary: #0057FF;

$color-dark: #10172A;
$color-gray: #334253;

